:root {
    /* html에서 :root는 html 선택자랑 같다 */
    /* 변수처럼 사용 가능. 예시) color: var(--surface-color) */
    --surface-color: #fff;
    --curve: 40;
}

.sort{
    margin: 80px auto 0 auto;
    width: 80%;
}

.sort a {
    font-family: 'Noto Sans JP', sans-serif;
    color: #073A96;
    font-size: 15px;
    text-decoration: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 1rem 10vw 4rem 10vw;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;

    box-shadow: 1px 0 3px #bbb;
}

.card__image {
    width: 100%;
    height: 300px;

    /*대체 콘텐츠의 가로세로비를 유지하면서, 요소 콘텐츠 박스를 가득 채운다. 서로의 가로세로비가 일치하지 않으면 객체 일부가 잘려나간다.*/
    object-fit: cover;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #1B3A6A;
}

.card__status {
    font-size: .8em;
    color: #528BC6;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #1B3A6A;
    font-family: "MockFlowFont";
    font-size: 0.9em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.card__thumb2 {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.card__thumb2 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}